
    #rounded {
        width: 100%;
        height: 50px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 10px;
        margin-bottom: 5px;  
    }

    #container {
        width: 200px; 
        margin-left:auto; 
        margin-right: auto; 
    }
    #but{
        width: 100%;
        margin-top: 10%;
    }
    .pad{
        margin-top: 70%;
        padding: 36px;
    }

    ion-content{
        --background: url('../imgs/fondo.jpg') no-repeat center center / cover;
        background-color: transparent;
    }

    ion-icon{
        color: gray !important;
    }
