<ion-content>
  <div class='pad'>
    <ion-list>
      <ion-item id="rounded">
        <br>
        <ion-input type="text" placeholder="Usuario" [(ngModel)]="txtUsuario"><ion-icon name="person" item-start padding-end></ion-icon></ion-input>
      </ion-item>
      <br>
      <br>
      <ion-item id="rounded">
        <br>
        <ion-input type="password" placeholder="Clave" [(ngModel)]="txtClave"><ion-icon name="key" item-start padding-end></ion-icon></ion-input>
      </ion-item>
    </ion-list>
    <ion-button id="but" (click)="login()" color="warning">Ingresar</ion-button>
  </div>
</ion-content>