<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Actualizar datos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="dataForm" (ngSubmit)="sendData()">
    <ion-list>
      <ion-item>
        <ion-icon name="person" item-start padding-end></ion-icon>
        <ion-label class="ws">Nombre:</ion-label>
        <ion-input formControlName="nombres" type="text" placeholder="Ingrese su nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="home" item-start padding-end></ion-icon>
        <ion-label stacked>Dirección:</ion-label>
        <ion-input formControlName="direccion" type="text" placeholder="Ingrese su dirección"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="call" item-start padding-end></ion-icon>
        <ion-label stacked>Teléfono 1:</ion-label>
        <ion-input formControlName="telefono1" type="text" placeholder="Ingrese teléfono 1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="call" item-start padding-end></ion-icon>
        <ion-label stacked>Teléfono 2:</ion-label>
        <ion-input formControlName="telefono2" type="text" placeholder="Ingrese teléfono 2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="mail" item-start padding-end></ion-icon>
        <ion-label stacked>Email:</ion-label>
        <br>
        <ion-input formControlName="mail" type="email" placeholder="Ingrese email"></ion-input>
      </ion-item>
    </ion-list>
    <p padding>Al enviar los datos de este formulario se remitirá al correo electrónico del encargado de actualizarlos.
    </p>
    <div padding>
      <ion-button block type="submit" [disabled]="!dataForm.valid">Enviar</ion-button>
    </div>
  </form>
</ion-content>