.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:100px;
}
.grid-item {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  font-size: 30px;
  text-align: center;
}

.grid-text {
  padding-right: 20px;
  text-align: center;
}
